.catalog {
  padding: 65px 0 143px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding: 55px 0 75px;
  }

  @include vp-767 {
    padding: 45px 0 86px;
  }
}

.catalog__wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include vp-1279 {
    max-width: 770px
  }

  @include vp-1023 {
    gap: 38px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.catalog__wrapper p {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;

  @include vp-767 {
    padding-bottom: 29px;
    font-size: 28px;
    line-height: 40px;
  }
}

.catalog__wrapper-title-desktop {
  display: inline;

  @include vp-767 {
    display: none;
  }
}

.catalog__wrapper-title-mobile {
  display: none;

  @include vp-767 {
    display: inline;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 85px;

  @include vp-1439 {
    justify-content: space-between;
    gap: 30px;
  }

  @include vp-1279 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  @include vp-767 {
    gap: 0;
  }
}

.catalog__item {
  position: relative;
  background-color: $color-nile-blue;
  min-height: 650px;
  width: 350px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 26px;
    right: 26px;
    width: 8px;
    height: 8px;
    border-top: 1px solid $color-default-white;
    border-right: 1px solid $color-default-white;
    transform: rotate(45deg);
  }

  @include vp-1279 {
    padding: 38px 45px;
    min-height: 250px;
    width: 670px;
  }

  @include vp-767 {
    min-height: 250px;
    min-width: 270px;
    width: 100%;
    padding: 30px 30px;
    padding-top: 26px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      width: 40px;
      height: 40px;
      border-radius: 3px 0 0 0;
    }

    &::after {
      bottom: 18px;
      right: 18px;
      width: 4px;
      height: 4px;
      border-top: 1px solid $color-default-white;
      border-right: 1px solid $color-default-white;
    }
  }
}

.catalog__item p {
  padding-right: 40%;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  line-height: 30px;

  @include vp-1023 {
    padding-right: 75%;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    padding-right: 40%;
  }
}

.catalog__item--one {
  background-image: image-set(
    url("../img/catalog/background-item-1-desktop.webp") 1x,
    url("../img/catalog/background-item-1-desktop@2x.webp") 2x,
    url("../img/catalog/background-item-1-desktop.png") 1x,
    url("../img/catalog/background-item-1-desktop@2x.png") 2x
  );

  @include vp-1279 {
    background-image: image-set(
      url("../img/catalog/background-item-1-tablet.webp") 1x,
      url("../img/catalog/background-item-1-tablet@2x.webp") 2x,
      url("../img/catalog/background-item-1-tablet.png") 1x,
      url("../img/catalog/background-item-1-tablet@2x.png") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog/background-item-1-mobile.webp") 1x,
      url("../img/catalog/background-item-1-mobile@2x.webp") 2x,
      url("../img/catalog/background-item-1-mobile.png") 1x,
      url("../img/catalog/background-item-1-mobile@2x.png") 2x
    );
  }
}

.catalog__item--two {
  background-image: image-set(
    url("../img/catalog/background-item-2-desktop.webp") 1x,
    url("../img/catalog/background-item-2-desktop@2x.webp") 2x,
    url("../img/catalog/background-item-2-desktop.png") 1x,
    url("../img/catalog/background-item-2-desktop@2x.png") 2x
    );

  @include vp-1279 {
    background-image: image-set(
      url("../img/catalog/background-item-2-tablet.webp") 1x,
      url("../img/catalog/background-item-2-tablet@2x.webp") 2x,
      url("../img/catalog/background-item-2-tablet.png") 1x,
      url("../img/catalog/background-item-2-tablet@2x.png") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog/background-item-2-mobile.webp") 1x,
      url("../img/catalog/background-item-2-mobile@2x.webp") 2x,
      url("../img/catalog/background-item-2-mobile.png") 1x,
      url("../img/catalog/background-item-2-mobile@2x.png") 2x
    );
  }
}

.catalog__item--three {
  background-image: image-set(
    url("../img/catalog/background-item-3-desktop.webp") 1x,
    url("../img/catalog/background-item-3-desktop@2x.webp") 2x,
    url("../img/catalog/background-item-3-desktop.png") 1x,
    url("../img/catalog/background-item-3-desktop@2x.png") 2x
  );

  @include vp-1279 {
    background-image: image-set(
      url("../img/catalog/background-item-3-tablet.webp") 1x,
      url("../img/catalog/background-item-3-tablet@2x.webp") 2x,
      url("../img/catalog/background-item-3-tablet.png") 1x,
      url("../img/catalog/background-item-3-tablet@2x.png") 2x
    );
  }

  @include vp-767 {
    background-image: image-set(
      url("../img/catalog/background-item-3-mobile.webp") 1x,
      url("../img/catalog/background-item-3-mobile@2x.webp") 2x,
      url("../img/catalog/background-item-3-mobile.png") 1x,
      url("../img/catalog/background-item-3-mobile@2x.png") 2x
    );
  }
}

.catalog__item a {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}
