.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-767 {
    justify-content: center;
    gap: 0;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    padding: 0 25px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-alice-blue;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.navigation__title-wrapper {

  @include vp-767 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation h2 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  position: relative;

  @include vp-767 {
    padding: 20px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

.navigation ul {

  @include vp-767 {
    display: none;
  }
}

.is-active {

  @include vp-767 {
    &::after {
      transform: rotate(0);
    }
  }
}

.is-open ul {

  @include vp-767 {
    display: grid;
  }
}
