.page-header {
  position: fixed;
  background: $black-pearl-to-bottom;
  min-height: 120px;
  width: 100%;
  padding-top: 30px;
  z-index: 10;
  padding-right: 47px;

  @include vp-1023 {
    position: static;
    padding-top: 20px;
    min-height: 100px;
    padding-right: 0;
  }

  @include vp-767 {
    padding-top: 15px;
    min-height: 70px;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  gap: 160px;

  @include vp-1023 {
    align-items: flex-start;
    padding: 0 50px;
    padding-right: 70px;
  }

  @include vp-767 {
    gap: 115px;
    align-items: center;
    padding-right: 34px;
  }
}

.page-header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include vp-1439 {
    gap: 20px;
  }

  @include vp-1023 {
    justify-content: flex-end;
    gap: 20px;
  }
}

.page-header__info-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  width: 100%;

  @include vp-1439 {
    gap: 20px;
  }

  @include vp-1023 {
    max-width: fit-content;
    gap: 20px;
  }
}

.page-header__info p,
.page-header__info a {
  font-family: $ff-pt-mono;
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 225px;
  width: 100%;

  @include vp-1023 {
    padding: 10px;
    max-width: fit-content;
  }

  @include vp-767 {
    padding-top: 5px;
  }
}

.page-header__info a {
  min-width: max-content;
}

.page-header__info span {
  @include vp-1023 {
    display: none;
  }
}

.page-header__info-button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #f2f5f7;
  border-radius: 3px;
  background-color: transparent;
  color: rgba(242, 245, 246, 1);
  padding: 0;
  cursor: pointer;
  width: 100%;
  max-width: 160px;
  min-height: 40px;

  @include vp-1023 {
    display: none;
  }
}
